html {
  background-color: #b4b4ad;
  font-family: trebuchet;
}

  body {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    margin: auto;
  }

article, aside, footer, header, #footer {
  padding: 0.5rem;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #ccc;
  width: 85vw;
  text-align: center;
  border-bottom: 1px solid;
}

#footer {
background-color: #333;
width: 85vw;
}

aside {
  background-color: white;
}
footer {
  background-color: rgb(144, 128, 128); 
}
#mainpage {
width: 90vw;
height: 90vh;
display: grid;
grid-template-columns: 40vw 40vw;
grid-gap: 5vw;
grid-template-areas: 
"instructionscontainer titlecontainer"; 

}

#instructionscontainer {
background-color:thistle

}

#titlecontainer {
background-color: aqua;

}

#grid-container {
display: grid;
grid-template-columns: auto auto auto auto;
justify-content: space-evenly;
border-style: solid;
}

#createbtn:hover {
border-radius: 20px;
background-color: orange;

}

#updatebtn:hover {
  border-radius: 20px;
  background-color: orange;
}

#deletebtn:hover {
  border-radius: 20px;
  background-color: orange;
}

.hide {
  display: none !important;

}











