html {
  background-color: #b4b4ad;
  font-family: trebuchet;
}
body {
  margin: 0;
}
article, aside, footer, header {
  padding: 0.5rem;
  box-sizing: border-box;
}
header {
  background-color: #333;
  color: #ccc;
  text-align: center;
  border-bottom: 1px solid;
}
aside {
  background-color: white;
}
footer {
  background-color: rgb(144, 128, 128); 
}
#mainpage {
width: 90vw;
height: 90vh;
display: grid;
grid-template-columns: 40vw 40vw;
grid-gap: 5vw;
grid-template-areas: 
"instructionscontainer titlecontainer"; 

}

#instructionscontainer {
background-color:thistle
}

#titlecontainer {
background-color: aqua;

}

#createbtn {
backface-visibility: visible;
}

#udpatebtn {

}

#deletebtn {

}








.hide {
  display: none !important;

}













@media screen and (min-width: 30rem) {
  body {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    margin: auto;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: .5rem solid;
  }
  nav, header {
    order: -1;
  }
  article {
    flex: 75%;
    display: flex;
  }
  aside {
    display: flex;
    flex: 25%;
  }
}